<app-navbar></app-navbar>
<div class="container">
  <h2 style="text-align: center;">Elenco centri sportivi</h2>
  <div class="card mb-3 col-md-12" *ngFor="let centro of centri">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h3>{{centro.nomeCentro}}</h3>
              <p>{{centro.citta}}</p>
              <p>{{centro.indirizzo}}</p>
              <p>{{centro.numTelefono}}</p>
              <p>{{centro.email}}</p>
            </div>
            <div class="col-6">
              <app-sport-of-centro [inputCentro]="centro"></app-sport-of-centro>
            </div>
          </div>
          <button class="btn btn-outline-dark col-12" [routerLink]="['/lista-campi', centro.email]">Guarda i campi</button>
        </div>
      </div>
    </div>
  </div>
</div>
