<app-navbar></app-navbar>
<div class="container" style="max-width: 800px;">
  <div class="card mb-3 col-md-12">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/assets/images/illustrazione-campo-calcio.jpg" style="max-height: 250px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Scegli un campo e prenota</h3>
          <p class="card-text">Guarda quali centri sportivi hanno un campo che fa per te, consulta la disponibilità e prenota quando vuoi</p>
          <button class="btn btn-outline-dark col-12" routerLink="/lista-centri">Guarda i centri sportivi</button>
        </div>
      </div>
    </div>
  </div>
</div>
