<app-navbar></app-navbar>
<div class="container">
  <h2 style="text-align: center;">{{campo.nomeCampo}}</h2>
  <p style="text-align: center; font-size: 20px;" *ngFor="let sport of campo.sports">{{sport.nomeSport}}</p>
  <p style="text-align: center; font-size: 20px;">{{campo.superficie.materiale}}</p>
  <div class="row">
    <div class="card mb-3 col-md-4" *ngFor="let slot of slots">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h3>{{slot.dataOraInizio | date}}</h3>
                <p>{{slot.dataOraInizio | date:'shortTime'}} - {{slot.dataOraFine | date:'shortTime'}}</p>
                <h5>{{slot.prezzo | currency:'EUR'}}</h5>
              </div>
            </div>
            <button class="btn btn-outline-dark col-12" (click)="prenota(slot)">Prenota</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
