<app-navbar></app-navbar>
<div class="container">
  <h3>I tuoi dati</h3>
  <ul class="list-group">
    <li class="list-group-item">Nome: {{utenteLoggato.nome}}</li>
    <li class="list-group-item">Cognome: {{utenteLoggato.cognome}}</li>
    <li class="list-group-item">Telefono: {{utenteLoggato.numeroTelefono}}</li>
    <li class="list-group-item">Indirizzo: {{utenteLoggato.indirizzo}}</li>
    <li class="list-group-item">Città: {{utenteLoggato.citta}}</li>
    <li class="list-group-item">email: {{utenteLoggato.email}}</li>
  </ul>
</div>
<div class="container" style="max-width: 500px;">
    <button class="btn btn-outline-dark col-6" routerLink='/modifica-dati'>Modifica dati</button>
    <button class="btn btn-outline-dark col-6" routerLink='/modifica-pwd'>Cambia password</button>
</div>
