<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo.png" style="max-height: 45px; margin-top: -10px; margin-bottom: -8px;"> Sportshub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <button *ngIf="utenteLoggato == null" class="btn btn-outline-light my-2 my-sm-0" routerLink="/login">Accedi</button>
    <button *ngIf="utenteLoggato == null" class="btn btn-outline-light my-2 my-sm-0" routerLink="/registrazione">Registrati</button>
    <button *ngIf="utenteLoggato != null" class="btn btn-outline-light my-2 my-sm-0" routerLink="/dati-utente">I tuoi dati</button>
  </div>
</nav>
