<div class="container" style="width: 180px;">
  <div class="col-12">
    <img src="/assets/images/logo.png" style="max-height: 80px" title="Logo" />
  </div>
</div>


<form action="action_page.php">
  <div class="container">
    <h1 style="text-align: center;">Registrati</h1>
    <p style="text-align:center;">Compila il modulo per registrarti</p>

    <label for="Nome"><b>Nome</b></label>
    <input type="text" placeholder="Inserisci nome" name="Nome" id="Nome" required>

    <label for="Cognome"><b>Cognome</b></label>
    <input type="text" placeholder="Inserisci Cognome" name="Cognome" id="Cognome" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Inserisci email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Inserisci password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Ripeti Password</b></label>
    <input type="password" placeholder="Ripeti password" name="psw-repeat" id="psw-repeat" required>


    <button type="submit" class="registerbtn">Registrati</button>
  </div>

  <div class="container signin">
    <p>Hai già un account? <a href="#">Accedi</a>.</p>
  </div>
</form>
